<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# See if the current file is under svn control
FILE=`basename "$TM_FILEPATH"`
INFO_LINES=`${TM_SVN:-svn} info "$FILE" 2&gt;&amp;1 | grep "^Path\: .*\$" | wc -l`

if [ $INFO_LINES -eq 0 ]; then
	echo "The current file is not under subversion control"
	exit_show_tool_tip
fi

"$TM_BUNDLE_SUPPORT/bin/filemerge.sh" PREV -
</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^@A</string>
	<key>name</key>
	<string>Previous Revision (PREV)</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>opendiff</string>
			<key>locations</key>
			<array>
				<string>/usr/bin/opendiff</string>
			</array>
			<key>variable</key>
			<string>TM_OPENDIFF</string>
		</dict>
		<dict>
			<key>command</key>
			<string>svn</string>
			<key>locations</key>
			<array>
				<string>/usr/local/bin/svn</string>
				<string>/opt/local/bin/svn</string>
			</array>
			<key>variable</key>
			<string>TM_SVN</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>3FA49AEC-79AA-4E3A-BFDA-FD7E4EF8D0FE</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
