<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>saveActiveFile</string>
	<key>command</key>
	<string>#!/usr/bin/env bash
[[ -f "${TM_SUPPORT_PATH}/lib/bash_init.sh" ]] &amp;&amp; . "${TM_SUPPORT_PATH}/lib/bash_init.sh"

# See if the current file is under svn control
FILE=`basename "$TM_FILEPATH"`
INFO_LINES=`${TM_SVN:-svn} info "$FILE" 2&gt;&amp;1 | grep "^Path\: .*\$" | wc -l`

if [ $INFO_LINES -eq 0 ]; then
	echo "The current file is not under subversion control"
	exit_show_tool_tip
fi

revs=$("$TM_SVN" log -q "$TM_FILEPATH"|grep -v '^-*$' \
	2&gt; &gt;(CocoaDialog progressbar --indeterminate \
		--title "Diff Revision…" \
		--text "Retrieving List of Revisions…" \
	))

revs=`osascript&lt;&lt;END
	set AppleScript's text item delimiters to {"\n","\r"}
	tell app "SystemUIServer"
		activate
		set ourList to (every text item of "$revs")
		if the count of items in ourList is 0 then
			display dialog "No older revisions of file '$(basename "$TM_FILEPATH")' found" buttons ("OK")
			set the result to false
		else
			choose from list ourList with prompt "Diff '$(basename "$TM_FILEPATH")' with older revision:"
		end if
	end tell
END`

# exit if user canceled
if [[ $revs = "false" ]]; then
	osascript -e 'tell app "TextMate" to activate' &amp;&gt;/dev/null &amp;	exit_discard
fi

REV=`echo "$revs" | tr '\r' '\n' | awk -F '|' '{ print substr($1, 2) }'`
"$TM_BUNDLE_SUPPORT/bin/filemerge.sh" $REV -</string>
	<key>input</key>
	<string>none</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>^@A</string>
	<key>name</key>
	<string>Revision...</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>text</string>
	<key>outputLocation</key>
	<string>discard</string>
	<key>requiredCommands</key>
	<array>
		<dict>
			<key>command</key>
			<string>opendiff</string>
			<key>locations</key>
			<array>
				<string>/usr/bin/opendiff</string>
			</array>
			<key>variable</key>
			<string>TM_OPENDIFF</string>
		</dict>
		<dict>
			<key>command</key>
			<string>svn</string>
			<key>locations</key>
			<array>
				<string>/usr/local/bin/svn</string>
				<string>/opt/local/bin/svn</string>
			</array>
			<key>variable</key>
			<string>TM_SVN</string>
		</dict>
	</array>
	<key>uuid</key>
	<string>F0B1A94F-3FC5-47B8-8771-FFF4EF230156</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
